In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
#import pyplot as plt
#import seaborn as sns

In [2]:
results_file = './out/pbmc3k.h5ad'

In [14]:
adata1 = sc.read_text('/Volumes/LACIE_SHARE/Calla/Inputs/inputs/well1/GEX_counts.tsv', delimiter= '\t', first_column_names=True).transpose()

In [24]:
adata3 = sc.read_text('/Volumes/LACIE_SHARE/Calla/Inputs/inputs/well3/GEX_counts.tsv', delimiter= '\t', first_column_names=True).transpose()

In [25]:
adata4 = sc.read_text('/Volumes/LACIE_SHARE/Calla/Inputs/inputs/well4/GEX_counts.tsv', delimiter= '\t', first_column_names=True).transpose()

In [26]:
adata = adata1.concatenate(adata2,adata3,adata4)

In [27]:
adata

AnnData object with n_obs × n_vars = 62809 × 33538
    obs: 'batch'

In [21]:
adata1

AnnData object with n_obs × n_vars = 19088 × 33538

In [22]:
adata2

AnnData object with n_obs × n_vars = 18001 × 33538

In [23]:
adata.obs

                     batch
AAACCTGAGACAAAGG-0-0     0
AAACCTGAGACCACGA-0-0     0
AAACCTGAGACGCACA-0-0     0
AAACCTGAGAGAGCTC-0-0     0
AAACCTGAGATCCGAG-0-0     0
...                    ...
TTTGTCATCCAGATCA-1-1     1
TTTGTCATCGACCAGC-1-1     1
TTTGTCATCGATCCCT-1-1     1
TTTGTCATCGTCACGG-1-1     1
TTTGTCATCTTATCTG-1-1     1

[37089 rows x 1 columns]